<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="menu d-flex flex-column justify-content-between">
      <nav class="nav flex-column fw-bold text-dark">
        <h1 class="mb-0"><a href="index.html" class="nav-logo">Answer</a></h1>
        <a
          class="nav-link d-flex align-items-center active"
          aria-current="page"
          href="#"
          ><span class="material-icons me-3">assessment</span>Dashboard</a
        >
        <a class="nav-link d-flex align-items-center" href="#"
          ><span class="material-icons me-3">forum</span>Question</a
        >
        <a class="nav-link d-flex align-items-center" href="#"
          ><span class="material-icons me-3">assignment</span>Assignment</a
        >
        <a class="nav-link d-flex align-items-center" href="#"
          ><span class="material-icons me-3">video_library</span>Course</a
        >
        <a class="nav-link d-flex align-items-center" href="#"
          ><span class="material-icons me-3">people</span>Admin</a
        >
        <a class="nav-link d-flex align-items-center" href="#"
          ><span class="material-icons me-3">settings</span>Settings</a
        >
      </nav>
      <div class="nav-user d-flex">
        <!-- <div class="nav-user-avatar"> -->
        <img
          class="user-avatar"
          src="./assets/images/user-AndyChen.jpeg"
          alt="user"
        />
        <!-- </div> -->
        <div class="ms-3">
          <p class="fw-bold mb-1">Andy Chen</p>
          <p class="fs-sm text-secondary">andy0401@mail.com</p>
        </div>
      </div>
    </div>

    <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
