@import url('https: //fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Lato', 'Roboto Mono', sans-serif;
  line-height: 1.5;
}

header, main {
  margin-left: 296px;
}
