header, main {
  margin-left: 296px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

code {
  background-color: $gray-100;
  font-family: 'Roboto Mono';
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
}