@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto+Mono&display=swap');

body {
  font-family: Lato, 'Roboto Mono', sans-serif;
  line-height: 1.5;
}

header, main {
  margin-left: 296px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

code {
  background-color: $gray-100;
  color: $success;
  font-size: $font-size-sm;
  font-family: 'Roboto Mono';
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
}