// font
.fs-sm {
  font-size: $font-size-sm; // 14px
}

.fs-xs {
  font-size: $font-size-base * .75; // 12px
}

.fs-sub {
  font-size: $sub-sup-font-size;
}

.icon {
  cursor: pointer;
  color: $dark;
  text-decoration: none;
  &:hover {
    color: $success;
  }
}

// components
.user {
  &-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  &-info {
    p:first-child {
      font-weight: bold;
      margin-bottom: 4px;
    }
    p:last-child {
      font-size: $sub-sup-font-size;
      color: $gray-600;
    }
  }
}
.btn-padding {
  padding: 8px 32px;
}

// Bootstrap
.list-group-item.active {
  color: $dark;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  background-color: $success;
  border-color: $success;
}
.page-link {
  color: $dark;
  padding: 4px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-color: $success;
  &:hover {
    color: $success;
    border-color: $success;
  }
}

.modal {
  &-header, &-body, &-footer {
    padding: 32px;
  }
  &-header {
    border-bottom: 0px;
  }
  &-footer {
    border-top: 0px;
  }
}